.controls {
    width: 240px;
    height: 332px;
    display: inline-block;
    margin: 30px 20px 0 10px;
    vertical-align: top;
}

p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: darkred;
}

.display {
    width: 130px;
    height: 50px;
    margin: auto;
    padding: 10px 0;
    color: #b71c1c;
    background: #e0e0e0;
    box-sizing: border-box;
    border-radius: 25px;
}

#volume {
    padding: 10px 0;
    box-sizing: border-box;
}

.power-control {
    padding-bottom: 20px;
}

#vol-container {
    padding: 20px 0;
}