.DrumMachine {
    outline: 5px solid #636363;
    position: relative;
    width: 660px;
    text-align: center;
    background: linear-gradient(to right, #2e2e2e, #4d4e4e);
    ;
}

@media screen and (max-width: 660px) {
    .DrumMachine {
        transform: scale(0.7);
    }
}