.DrumMachine {
    outline: 5px solid #29b6f6;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: #bdbdbd;
}

@media screen and (max-width: 650px) {
    .DrumMachine {
        transform: scale(0.7);
    }
}