html {
    height: 100vh;
}

body {
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}