html {
    height: 100vh;
}

body {
    height: 100vh;
    background: grey;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}